@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #2D93E1;
  --secondary-color: #2D93E1;
  --font-size: 16px;
}

.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.border-primary {
  border: 1px solid var(--primary-color);
}