@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .hero-btn {
    @apply px-8 py-4 bg-gradient-to-r from-indigo-200 dark:from-indigo-400 to-indigo-400 dark:to-indigo-800 rounded-full tracking-wider text-sm md:text-base;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #8750F7 #2A1454;
}

html {
  scroll-behavior: smooth;
}